* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  widows: 100%;
  padding: 30px 20px;
  background-color: #ff00ff;
  display: flex;
  justify-content: flex-end;
}

.panel {
  height: 70px;
  flex-basis: 140px;
  margin: 0 10px;
  background-color: #fbb3ff;
}

.panel:nth-child(1) {
  margin-right: auto;
}

.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.side-space {
  width: 300px;
  background-color:#d8ffb6;
}

.main-item {
  max-width: 700px;
  flex-grow: 1;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #00b522;
}

.box {
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
  background:#fff75a;
}

footer {
  width: 100%;
  padding: 20px;
  background-color: #52a1ff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bar {
  flex-basis: 45%;
  max-width: 600px;
  height: 40px;
  margin: 10px;
  background-color: #b6e7ff;
}
