* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: blue;
}







/* ここからヘッダー */

header {
  text-align: center;
}

h1 a {
  display: inline-block;
  margin: 20px 0;
}

nav.top-nav {
  border: solid 0px gray;
  border-top-width: 1px;
  border-bottom-width: 1px;
  margin-bottom: 50px;
}

ul.top-list {
  text-align: center;
}

/* インライン要素にしたので、左右のマージンが少し広めに取られてる？ */
/* ブロック要素にしてflexboxで対応？ */

li.top-list-item {
  display: inline-block;
  margin: 15px 20px;
}

/* ここまでヘッダー */







/* ここからメイン */

div.line {
  display: flex;
  justify-content: center;
}

/* display: flex;
flex-wrap: wrap;
上を使った方がスッキリした
ヒントに書いてあった */

.line div {
  width: 200px;
  height: 200px;
  /* background-color: blanchedalmond;
  border: solid 2px black;  */
}

.line1 .box1 {
  background-color: #e6ffe9;
}

.line1 .box2 {
  background-color: #cbffd3;
}

.line1 .box3 {
  background-color: #aeffbd;
}

.line1 .box4 {
  background-color: #93ffab;
}

.line2 .box1 {
  background-color: #f3ffd8;
}

.line2 .box2 {
  background-color: #edffbe;
}

.line2 .box3 {
  background-color: #e9ffa5;
}

.line2 .box4 {
  background-color: #e4ff8d;
}

.line3 .box1 {
  background-color: #d9e5ff;
}

.line3 .box2 {
  background-color: #bad3ff;
}

.line3 .box3 {
  background-color: #a4c7ff;
}

.line3 .box4 {
  background-color: #8eb8ff;
}

/* ここまでメイン */







/* ここからフッター */

footer {
  width: 100%;
  height: 120px;
  background-color: gray;
  text-align: center;
  margin-top: 50px;
}

footer p {
  color: #fff;
  line-height: 120px;
}
