* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: blue;
}

header {
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: center bottom;
}

header h1 {
  padding: 20px 0 0 20px;
  /* ↑これがマージンになると、マージンの相殺というものが起こる。 */
  font-size: 24px;
}

main {
  width: 840px;
  margin: 0 auto;
  padding: 20px 0 50px 0;
  /* ↑これがマージンになると、マージンの相殺というものが起こる。 */
}

.main-item {
  padding: 30px 0;
  border-bottom: 1px solid #d1d1d1;
}
